<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="ru.tinkoff.uiautomator">
    <uses-permission android:name="android.permission.INJECT_EVENTS" tools:ignore="ProtectedPermissions"/>
    <application
            android:allowBackup="false"
            android:icon="@mipmap/" android:supportsRtl="true"
            tools:ignore="GoogleAppIndexingWarning"/>

</manifest>
